hr{
	height: 1px;
	color: #c0d8e8;
	border-color: #c0d8e8;
	background-color: #c0d8e8;
	border: none;
}
input, textarea{
	padding: 5px 5px;
    margin: 0.7%;
    box-sizing: border-box;
    font-family: 'Lato';
    font-size: 0.6em bold;
    color: #355b4f;
    margin-left: 2%;
    border: 1px solid #c0d8e8;
    background: transparent;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus{
	border: 1px solid #555;
}
input[type=button]{
	background: #c0d8e8;
	padding: 5px 15px;
}
input[type=button]:focus{
	background: #ccc;
}
.thank{
	font-family: 'Lato';
	font-size: 0.9em;
	color: #640032;
}
.address{
	margin-top: 7%;
}
.address p{
	letter-spacing: 0.07em;
	text-align: center;
	font-family: 'Lato';
	font-size: 1em;
	color: #640032;
}
#map{
	margin-top: 3%;
	width: 100%;
	height: 440px;
	background-color: #c0d8e8;
}

@media (min-width:320px) and (max-width: 640px) { /* smartphones, iPhone, portrait 480x320 phones */
	.content-about{
		position: relative;
		top: 25px;
		margin: 3%;
	}
	.content-about .about-image img{
		padding-top: 4%;
		position: relative;
		height: 300px;
		width: 100%;
	}
	.content-about .about-head{
		padding-top: 5%;
		font-family: 'Lato';
		font-size: 2em;
		color: #355b4f;
		font-weight: bold;
		width: 100%;
		text-align: center;
		letter-spacing: 0.2em;
	}
	hr{
		margin: auto;
	}
	.content-about .about-content{
		font-family: 'Lato';
		font-size: 0.9em;
		padding-top: 4%;
		padding-right: 2%;
		color: #640032;
		width: 100%;
		text-align: center;
		letter-spacing: 0.07em;
		margin-bottom: 4%;
	}
	input[type = text], input[type=email], input[type=tel], textarea{
		width: 100%;
		margin: 1.5%;
	}
	.content-about .social-links{
		padding-top: 5%;
		padding-bottom: 2%;
		width: 100%;
	}
	.content-about .social-links li a{
		padding-left: 10%;	
	}
	.footer{
		margin-top: 8%;
	}
}

@media (min-width:641px) and (max-width:960px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.content-about{
		position: relative;
		top: 25px;
		margin: 3%;
		width: auto;
	}
	.content-about .about-image img{
		position: relative;
		width: 440px;
		height: auto;
		margin-left: -220px;
		left: 50%;
		padding-top: 4%;
	}
	.content-about .about-head{
		position: relative;
		margin-top: 5%;
		font-family: 'Lato';
		font-size: 2em;
		color: #355b4f;
		font-weight: bold;
		letter-spacing: 0.26em;
		text-align: center;
	}
	hr{
		margin: auto;
	}
	.content-about .about-content{
		position: relative;
		font-family: 'Lato';
		font-size: 0.9em;
		padding-top: 2%;
		margin-bottom: 3%;
		letter-spacing: 0.07em;
		text-align: center;
		color: #640032;
		width: 440px;
		margin-left: -220px;
		left: 50%;
	}
	input[type = text], input[type=email], input[type=tel], textarea{
		width: 440px;
		margin: 1.5%;
	}
	.content-about .social-links{
		padding-top: 5%;
		padding-bottom: 2%;
		padding-left: 15%;
		width: 100%;
	}
	.content-about .social-links li a{
		padding-left: 10%;	
	}
	.footer{
		margin-top: 5%;
	}
}

@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops and desktops */ 
	.content-about{
		position: relative;
		top: 340px;
		margin: auto;
		width: 900px;
	}
	.content-about .about-image img{
		padding-top: 3%;
		width: 440px;
		height: auto;
		float: left;
	}
	.content-about .about-head{
		margin-top: 3%;
		font-family: 'Lato';
		font-size: 2em;
		color: #355b4f;
		padding-left: 57%;
		font-weight: bold;
		letter-spacing: 0.26em;
	}
	hr{
		width: 100%;
	}
	.content-about .about-content{
		padding: 2%;
		padding-left: 51%;
		letter-spacing: 0.07em;
		text-align: center;
		font-family: 'Lato';
		font-size: 0.91em;
		color: #640032;
	}
	input[type = text], input[type=email], input[type=tel], textarea{
		width: 46%;
	}
	input[type=button]{
		float: right;
		margin-right: 2%;
		margin-bottom: 3%;
	}
	.content-about .social-links{
		padding-top: 5%;
		padding-bottom: 2%;
		padding-left: 155px;
	}
	.content-about .social-links li a{
		padding-left: 10%;	
	}
	.footer{
		margin-top: 34%;
	}
}
