#slides {
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide {
    position: absolute;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {		
    opacity: 1;
    z-index: 2;
}
hr{
	height: 1px;
	color: #c0d8e8;
	border-color: #c0d8e8;
	background-color: #c0d8e8;
	border: none;
}
.welcome-head{
	text-align: center;
	font-family: 'Oregano';
	color: #640032;
}
.welcome-content{
	text-align: center;
	padding-top: 2%;
	line-height: 1.8;
	color: #96004b;
	font-family: 'Lato';
	font-size: 1em;
}

@media (min-width:320px) and (max-width: 640px) { /* smartphones, iPhone, portrait 480x320 phones */
	#slider{
		margin: 3%;
		margin-top: 8%;
	}
	#slider img{
		max-width: 100%;
		height: auto;
	}
	.content{
		position: absolute;
		margin: 3%;
		max-width: 100%;
	}
	hr{
		width: 100%;
	}
	.welcome-head{
		font-size: 1.5em;
		line-height: 1.5;
	}
	.welcome-content{
		font-size: 0.8em;
	}
	.content .social-links{
		padding-top: 5%;
		padding-bottom: 5%;
		margin-bottom: 15%;
		width: 100%;
	}
	.content .social-links li a{
		padding-left: 10%;	
	}
}

@media (min-width:641px) and (max-width:960px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	#slider{
		margin: 3%;
	}
	#slider img{
		max-width: 100%;
		height: auto;
	}
	.content{
		position: absolute;
		margin: 3%;
		max-width: 100%;
	}
	hr{
		width: 100%;
	}
	.welcome-head{
		font-size: 2em;
	}
	.content .social-links{
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 15%;
	}
	.content .social-links li a{
		padding-left: 10%;	
	}
}

@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops and desktops */ 
	#slider{
		position: absolute;
		margin-left: -325px;
		left: 50%;
		top: 340px;
	}
	#slider img{
		width: 650px;
	}
	.content{
		position: relative;
		top: 880px;
		margin: auto;
		width: 900px;
	}
	hr{
		width: 900px;
	}
	.welcome-head{
		font-size: 2em;
	}
	.content .social-links{
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 155px;
	}
	.content .social-links li a{
		padding-left: 10%;	
	}
}



/*	.copyright{
		position: relative;
		min-width: 100%;
		text-align: center;
		background-color: #8ea7b7;
	}
	.copyright li{
		padding: 0.4%;
		font-family: 'Oregano';
		color: #640032;
		font-size: 0.7em;
	}*/
/*@media (min-width:481px) and (max-width:640px){ }/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*@media (min-width:1025px) {} /* big landscape tablets, laptops, and desktops */ 
