body{
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

@media (min-width:320px) and (max-width: 640px) { /* smartphones, iPhone, portrait 480x320 phones */
	body{
		background-image: url("/theCakePalette/images/background_portrait.jpg");
	}
	#logo{
		margin-left: 33%;
		margin-bottom: 2%;
	}
	#logo img{
		max-width: 50%;
		height: auto;
	}
	.btn-close{
		display: none;
	}
	.button{
		position: absolute;
		right: 10px;
		top: 60px;
		width: 35px;
		height: auto;
		z-index: 11;
	}
	.button a{
		text-decoration: none;
	}
	.btn-open:after {
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.btn-close:after {
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.overlay {
		display:none;
		position:fixed;
		top:0;
		height:100%;
		width:100%;
		background:#333;
		overflow:auto;
		opacity: 0.95;
		z-index:10;
	}
	.wrap {
		/*color:#e9e9e9;*/
		position: absolute;
		text-align: right;
		margin: auto;
		right: 30px;
		margin-top: 30%;
	}
	.wrap-nav li{
		padding-top: 5%;
	}
	.nav{
		display: none;
	}
	.wrap-nav a{
		text-decoration: none;
		font-family: 'Lato';
		font-size: 1.5em;
		color: #c0d8e8;
	}
	.footer{
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin-top: 2%;
		background-color: #c0d8e8;
		overflow: hidden;
	}
	.footer .not-mobile{
		display: none;
	}
	.footer .foot2, .footer .only-mobile{
		width: 100%;
		float: left;
	}
	.footer .foot2 li, .footer .only-mobile li{
		padding: 0.5%;
		padding-bottom: 1%;
		text-align: center;
	}
	.footer .foot2 li a, .footer .only-mobile li a{
		font-size: 0.5em;
		font-family: 'Lato';
		font-weight: bold;
		color: #96004b;
	}
	.footer .foot2 li a img{
		padding-top: 3%;
		align-self: center;
	}
	.footer hr{
		width: 80%;
		margin: auto;
		height: 1px;
		color: #355b4f;
		border-color: #355b4f;
		background-color: #355b4f;
	}
}

@media (min-width:641px) and (max-width:960px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	body{
		background-image: url("/theCakePalette/images/background.jpg");
	}
	#logo{
		position: relative;
		margin-left: -79.5px;
		left: 50%;
		margin-bottom: 2%;
	}
	#logo img{
		width: 159px;
		height: auto;
	}
	.nav{
		position: relative;
		overflow: hidden;
		margin: auto;
		margin-top: 2%;
		width: 641px;
	}
	.nav a{
		float: left;
		padding-left: 4%;
		text-decoration: none;
		font-family: 'Lato';
		font-size: 0.8em;
		color: #640032;
	}
	.nav a:hover{
		color: #355b4f;
	}
	.button, .overlay{
		display: none;
	}
	.footer{
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin-top: 2%;
		background-color: #c0d8e8;
		overflow: hidden;
	}
	.footer .only-mobile, .footer hr{
		display: none;
	}
	.footer .foot, .footer .foot1, .footer .foot2{
		float: left;
		padding-left: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.footer .foot{
		width: 30%;
	}
	.footer .foot1{
		width: 25%;
	}
	.footer .foot2{
		width: 35%;
	}
	.footer .foot li, .footer .foot1 li, .footer .foot2 li{
		padding: 0.5%;
		text-align: left;
		padding-left: 25%;
	}
	.footer .foot li a, .footer .foot1 li a, .footer .foot2 li a{
		font-size: 0.55em;
		font-family: 'Lato';
		font-weight: bold;
		color: #96004b;
	}
	.footer .foot2 li a img{
		padding-top: 3%;
		padding-left: 25%;
		align-self: center
	}
}

@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops and desktops */ 
	body{
		background-image: url("/theCakePalette/images/background.jpg");
		min-height: 100%;
	}
	#logo{
		position: absolute;
		margin-left: -79.5px;
		left: 50%;
		top: 0;
	}
	#logo img{
		width: 100%;
	}
	.nav{
		position: absolute;
		overflow: hidden;
		margin-left: -450px;
		left: 50%;
		top: 270px;
		width: 900px;
	}
	.nav a{
		float: left;
		padding-left: 6%;
		text-decoration: none;
		font-family: 'Lato';
		font-size: 0.8em;
		color: #640032;
	}
	.nav a:hover{
		color: #355b4f;
	}
	.button, .overlay{
		display: none;
	}
	.footer{
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #c0d8e8;
		overflow: hidden;
	}
	.footer .only-mobile, .footer hr{
		display: none;
	}
	.footer .foot, .footer .foot1, .footer .foot2{
		float: left;
		padding-left: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.footer .foot{
		width: 30%;
	}
	.footer .foot1{
		width: 25%;
	}
	.footer .foot2{
		width: 35%;
	}
	.footer .foot li, .footer .foot1 li, .footer .foot2 li{
		padding: 0.5%;
		text-align: left;
		padding-left: 25%;
	}
	.footer .foot li a, .footer .foot1 li a, .footer .foot2 li a{
		font-size: 0.55em;
		font-family: 'Lato';
		font-weight: bold;
		color: #96004b;
	}
	.footer .foot li a:hover, .footer .foot1 li a:hover, .footer .foot2 li a:hover{
		color: #355b4f;
	}
	.footer .foot2 li a img{
		padding-top: 3%;
		padding-left: 22%;
		align-self: center
	}
}