body{
	background-image: url('../image/hardware-1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.menu{
	position: relative;
	font-family: 'Varela Round' , sans-serif;
	text-align: center;
	letter-spacing: 0.2em;
}
.wrap-menu{
	background-color: #000;
	margin-top: -1%;
	padding-top: 3%;
	padding-bottom: 3%;
	display: none;
}
.wrap-menu li a{
	color: #fff;
	line-height: 2;
}
.button .btn-open, .button .btn-close {
	display: none;
}
hr{
	height: 2px;
	color: #000;
	border-color: #000;
	background-color: #000;
	border: none;
}
footer{
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #0e0e0e;
	color: #b08849;
	font-weight: lighter;
	font-size: 0.8em;
	font-family: 'Varela Round' , sans-serif;
}

@media (max-width: 640px) { /* smartphones, iPhone, portrait 480x320 phones */

	.button .btn-open{
		display: block;
	}
	.btn-open:after {
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.btn-close:after {
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}
	.menu .button{
		background-color: #0e0e0e;
	}
	.menu .button a{
		color: #fff;
		line-height: 3;
	}
	.head{
		position: relative;
		margin-top: 20%; 
		margin-left: 3%;
		margin-right: 3%;
		background-color: #000;
		background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    	background: rgba(0, 0, 0, 0.7);
    	text-align: center;
	}
	.content{
		position: relative;
		margin-top: -1%;
		margin-left: 3%;
		margin-right: 3%;
		margin-bottom: 5%;
		padding-top: 4%;
		background-color: #000;
		background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    	background: rgba(255, 255, 255, 0.7);
    	text-align: center;
	}
	.head h1{
		color: #fff;
		letter-spacing: 0.2em;
		padding-top: 4%;
		padding-bottom: 6%;
		font-family: 'Varela Round' , sans-serif;
	}
	.head h5{
		color: #b08849;
		letter-spacing: 0.2em;
		padding-bottom: 5%;
		font-family: 'Varela Round' , sans-serif;
	}
	hr{
		width: 20%;
	}
	.description{
		color: #000;
		padding-left: 1%;
		padding-top: 2%;
		padding-right: 1%;
		padding-bottom: 2%;
		font-weight: bold;

		line-height: 2;
		font-family: 'Varela Round' , sans-serif;
	}
	.description img{
		max-width: 250px;
		height: auto;
	}
	.description h3{
		color: #684017;
		letter-spacing: 0.2em;
		padding-top: 5%;
		padding-bottom: 5%;
		font-family: 'Varela Round' , sans-serif;
	}
	.description .call{
		
		padding-bottom: 2%;
	}
	.description .address {
		padding-top: 2%;
		padding-bottom: 2%;
	}
}

@media (min-width: 641px) and (max-width: 960px){ /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 961px) { /* smartphones, iPhone, portrait 480x320 phones */
}